/* -=-=-=-=-=-=- MAIN SETTINGS -=-=-=-=-=-=- */
*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    width: 100%;
    background-color: aliceblue;
}

header{
    height: 100px;
}

header .logo{
    max-height: 100%;
}

/* -=-=-=-=-=-=- PÃGINA "PEDIDO" -=-=-=-=-=-=- */
div.item_pedido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

div.item_pedido>*{
    width: 30%;
    display: block;
    margin: 1rem;
}

label.item_field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}